<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/showdown@2.0.3/dist/showdown.min.js"></script>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">-->
<!--    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>-->
</head>
<body>
<div>
    <span th:text="#{post.title}"></span>
    <input type="text" name="title" th:value="${post.title}" th:readonly="true">
</div>
<div hidden>
    <h3 th:text="#{post.body}"></h3>
    <textarea name="body" id="body" cols="30" rows="10" th:text="${post.body}" th:readonly="true"></textarea>
</div>
<div id="view-area">
</div>

<form th:action="@{/posts/{id}/modify(id=${post.id})}">
    <button type="submit" th:text="#{post.modify}"></button>
</form>

<form th:action="@{/posts/{id}(id=${post.id})}" th:method="delete">
    <button type="submit" th:text="#{post.delete}"></button>
</form>

<form th:action="@{/posts}">
    <button type="submit" th:text="#{post.list}"></button>
</form>
</body>

<script>
    const converter = new showdown.Converter()
    const body = document.getElementById('body');
    const convertedBody = document.getElementById('view-area');
    convertedBody.innerHTML = converter.makeHtml(body.value)
    // var simplemde = new SimpleMDE({element:document.getElementById("body")});
    // simplemde.toTextArea()
</script>

</html>