<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<div th:insert="~{fragments/header :: nav}"></div>
<form th:action="@{/posts}" th:method="get">
    <label>
        <input name="title" type="text" th:value="${title}">
    </label>
    <input type="submit" th:value="#{posts.search}">
</form>
<button th:onclick="|location.href='@{/post/write}'|" th:text="#{posts.write}"></button>
<p th:if="${deletedPostTitle}" th:text="#{posts.delete.success(${deletedPostTitle})}" class="impt-msg"></p>
<table>
    <tr>
        <th th:replace="~{fragments/table :: header(#{posts.table.number})}"></th>
        <th th:replace="~{fragments/table :: header(#{posts.table.title})}"></th>
        <th th:replace="~{fragments/table :: header(#{posts.table.writer})}"></th>
        <th th:replace="~{fragments/table :: header(#{posts.table.created-at})}"></th>
        <th th:replace="~{fragments/table :: header(#{posts.table.updated-at})}"></th>
    </tr>
    <tr th:each="post, i : ${postPage.content}">
        <td th:replace="~{fragments/table :: data(${i.count})}"></td>
        <td th:replace="~{fragments/table :: data(${post.title})}"></td>
        <td th:replace="~{fragments/table :: data(${post.writer})}"></td>
        <td th:replace="~{fragments/table :: data(${#temporals.format(post.createdAt, 'yyyy-MM-dd')})}"></td>
        <td th:replace="~{fragments/table :: data(${#temporals.format(post.lastModifiedAt, 'yyyy-MM-dd')})}"></td>
<!--        TODO: th:block 써서 권한 처리-->
        <td th:replace="~{fragments/table :: link(#{posts.move}, @{/posts/{id}(id=${post.id})})}"></td>
    </tr>
</table>
<!--TODO: 개수가 0일떄 표시가 이상함-->
<!--TODO: Fragment로 묶기-->
<button th:onclick="|location.href='@{/posts(title=${title}, page=${postPage.number}-1)}'|"
        th:disabled="${postPage.isFirst()}"><</button>
<span th:text="${postPage.number}+1 + '/' + ${postPage.totalPages}" ></span>
<button th:onclick="|location.href='@{/posts(title=${title}, page=${postPage.number}+1)}'|"
        th:disabled="${postPage.isLast()}">></button>
<div th:insert="~{fragments/footer :: copy}"></div>

<div>
    <span th:text="${version}"></span>
</div>
<div>
    <span th:text="${group}"></span>
</div>
</body>
</html>