<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Users</title>
</head>
<body>
<div th:insert="~{fragments/header :: nav}"></div>
    <div>
        <h1 th:text="#{user.create}"></h1>
    </div>
    <div>
        <div>
            <div>
                <form th:object="${user}"
                      th:action="@{/users/create}"
                      method="post">
                    <div>
                        <div th:replace="fragments/forms :: fielderrors"></div>
                        <div>
                            <div>
                                <label th:text="#{user.gender}">
                                    Gender
                                </label>
                                <div>
                                    <th:block th:each="possibleGender,iter : ${genders}">
                                        <input type="radio"
                                               th:id="${'gender-'+possibleGender}"
                                               th:field="*{gender}"
                                               th:value="${possibleGender}"
                                               th:classappend="${iter.index > 0 ?'ml-4':''}">
                                        <label th:for="${'gender-'+possibleGender}"
                                               th:text="#{'Gender.'+${possibleGender}}">
                                        </label>
                                    </th:block>
                                    <p th:if="${#fields.hasErrors('gender')}"
                                       th:text="${#strings.listJoin(#fields.errors('gender'), ', ')}">
                                        Gender validation error message(s).
                                    </p>
                                </div>
                            </div>

                            <div>
                                <label for="username" th:text="#{user.email}">
                                    Email address
                                </label>
                                <div>
                                    <input id="username"
                                           type="email"
                                           th:field="*{username}"
                                           th:classappend="${#fields.hasErrors('username')?'border-red-300 focus:border-red-300 focus:ring-red-500':'focus:ring-green-500 focus:border-green-500'}">
                                    <div th:if="${#fields.hasErrors('username')}"></div>
                                </div>
                                <p th:if="${#fields.hasErrors('username')}"
                                   th:text="${#strings.listJoin(#fields.errors('username'), ', ')}">
                                    Email validation error message(s).
                                </p>
                            </div>

                            <div class="sm:col-span-3">
                                <label for="password" th:text="#{user.password}">
                                    Password
                                </label>
                                <div>
                                    <input id="password"
                                           type="text"
                                           th:field="*{password}"
                                           th:classappend="${#fields.hasErrors('password')?'border-red-300 focus:border-red-300 focus:ring-red-500':'focus:ring-green-500 focus:border-green-500'}">
                                    <div th:if="${#fields.hasErrors('password')}"></div>
                                </div>
                                <p th:if="${#fields.hasErrors('password')}"
                                   th:text="${#strings.listJoin(#fields.errors('password'), ', ')}">
                                    Password validation error message(s).
                                </p>
                            </div>

                            <div class="sm:col-span-3">
                                <label for="nickname" th:text="#{user.nickname}">
                                    Nickname
                                </label>
                                <div>
                                    <input id="nickname"
                                           type="text"
                                           th:field="*{nickname}"
                                           th:classappend="${#fields.hasErrors('nickname')?'border-red-300 focus:border-red-300 focus:ring-red-500':'focus:ring-green-500 focus:border-green-500'}">
                                    <div th:if="${#fields.hasErrors('nickname')}"></div>
                                </div>
                                <p th:if="${#fields.hasErrors('nickname')}"
                                   th:text="${#strings.listJoin(#fields.errors('nickname'), ', ')}">
                                    nickname validation error message(s).
                                </p>
                            </div>

                            <div></div>
                            <div></div>
                            <!-- tag::birthday[] -->
                            <div>
                                <label for="birthday" th:text="#{user.birthday}">
                                    Birthday
                                </label>
                                <div >
                                    <input id="birthday"
                                           type="date"
                                           th:field="*{birthday}"
                                           th:placeholder="#{user.birthday.placeholder}"
                                           th:classappend="${#fields.hasErrors('birthday')?'border-red-300 focus:border-red-300 focus:ring-red-500':'focus:ring-green-500 focus:border-green-500'}">
                                    <div th:if="${#fields.hasErrors('birthday')}"></div>
                                </div>
                                <p th:if="${#fields.hasErrors('birthday')}"
                                   th:text="${#strings.listJoin(#fields.errors('birthday'), ', ')}">
                                    Birthday validation error message(s).
                                </p>
                            </div>
                            <!-- end::birthday[] -->
                        </div>
                    </div>
                    <div>
                        <div class="flex justify-end">
                            <span class="inline-flex">
                                <button type="button" th:text="#{cancel}">
                                    Cancel
                                </button>
                            </span>
                            <span>
                                <button type="submit" th:text="#{save}">
                                    Save
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<div th:insert="~{fragments/footer :: copy}"></div>
</body>
</html>