<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<div th:insert="~{fragments/header :: nav}"></div>
<div>
  <div>
    <h1 th:text="#{login}"></h1>
  </div>
  <div>
    <div>
      <form
          th:action="@{/login}"
          th:object="${login}"
          method="post"> <!--.-->
        <!-- tag::login-error[] -->
        <th:block th:if="${param.error}"> <!--.-->
          <div th:replace="~{fragments/alerts :: error(message=#{login.error},useHorizontalPadding=false)}"></div>
        </th:block>
        <!-- end::login-error[] -->
        <!-- tag::logout-confirmation[] -->
        <th:block th:if="${param.logout}"> <!--.-->
          <div th:replace="~{fragments/alerts :: success(message=#{login.logout.confirmation},useHorizontalPadding=false)}"></div>
        </th:block>
        <!-- end::logout-confirmation[] -->
        <div>
          <label for="username" th:text="#{login.username}">
            Username
          </label>
          <div>
            <input id="username"
                   type="text"
                   required
                   name="username"
                   th:field="*{username}">
          </div>
        </div>

        <div>
          <label for="password" th:text="#{login.password}">
            Password
          </label>
          <div>
            <input id="password"
                   type="password"
                   required
                   name="password"
                   th:field="*{password}">
          </div>
        </div>

        <div>
          <div>
            <input id="remember_me" type="checkbox">
            <label for="remember_me">
              Remember me
            </label>
          </div>

          <div>
            <a href="#">
              Forgot your password?
            </a>
          </div>
        </div>

        <div>
          <span>
            <button type="submit">
              Sign in
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
<div th:insert="~{fragments/footer :: copy}"></div>
</body>
</html>