<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<div th:fragment="fielderrors"
     th:if="${#fields.hasErrors()}">
    <div>
        <div>
            <h3 th:text="#{error.messages.summary.title(${#fields.errors().size()})}">
                There were 2 errors with your submission
            </h3>
            <div>
                <ul>
                    <li th:each="err,iter : ${#fields.errors()}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>