<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="#{error}">Error</title>
</head>
<body>
<p th:text="#{error.version.conflict}" class="mb-6">Somebody else has edited the same thing as you.
    Please reload the
    page and redo your edit.</p>
</body>
</html>