<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<nav>
    <ul>
        <li><a th:href="@{/}">홈</a></li>
        <li><a th:href="@{/posts}">게시글</a></li>
        <li><a th:href="@{/}">로그인/회원가입</a></li>
        <li><span th:text="|Your locale is ${#locale.country}|"></span></li>

    </ul>
</nav>
<body>
<h1 th:text="#{home.title}"></h1>
<h2 th:utext="#{home.sub-title}"></h2>
</body>
</html>