<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:insert="~{header :: nav}"></div>
<form th:action="@{/posts/search}" th:method="get">
    <label>
        <input name="titleForSearch" type="text">
    </label>
    <input type="submit" th:value="#{posts.search}">
</form>
<button th:onclick="|location.href='@{/post/write}'|" th:text="#{posts.write}"></button>
<table>
    <tr>
        <th th:text="#{posts.table.number}"></th>
        <th th:text="#{posts.table.title}"></th>
        <th th:text="#{posts.table.writer}"></th>
        <th th:text="#{posts.table.created-at}"></th>
        <th th:text="#{posts.table.updated-at}"></th>
    </tr>
    <tr th:each="post, i : ${postPage.content}">
        <td th:text="${i.count}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.writer}"></td>
        <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></td>
        <td th:text="${#temporals.format(post.lastModifiedAt, 'yyyy-MM-dd')}"></td>
        <td>
            <a th:href="@{/posts/{id}(id=${post.id})}" role="button" th:text="#{posts.move}"></a>
        </td>
    </tr>
</table>
<!--TODO: 개수가 0일떄 표시가 이상함-->
<button th:onclick="|location.href='@{/posts(pageNumber=${postPage.number}-1)}'|"
        th:disabled="${postPage.number}==0"><</button>
<span th:text="${postPage.number}+1 + '/' + ${postPage.totalPages}" ></span>
<button th:onclick="|location.href='@{/posts(pageNumber=${postPage.number}+1)}'|"
        th:disabled="${postPage.number}==${postPage.totalPages}-1">></button>
<div th:insert="~{footer :: copy}"></div>
</body>
</html>