<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{/post/write}" th:object="${post}" method="post">
    <div>
        <span th:text="#{post.title}"></span>
        <input type="text" th:field="*{title}">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>
    <div>
        <h3 th:text="#{post.body}"></h3>
        <textarea cols="30" rows="10" th:field="*{body}"></textarea>
        <span th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></span>
    </div>
    <button type="submit" th:text="#{post.save}"></button>
</form>
</body>
</html>