<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<label>
    <h3 th:text="#{post.title}"></h3>
    <input type="text" name="title" th:value="${post.title}" th:readonly="true">
</label>
<br>
<label>
    <h3 th:text="#{post.body}"></h3>
    <textarea name="body" id="" cols="30" rows="10" th:text="${post.body}" th:readonly="true"></textarea>
</label>
<a th:href="@{/posts/{id}/edit(id=${post.id})}" th:text="#{post.modify}"></a>
<form th:action="@{/posts/{id}(id=${post.id})}" th:method="delete">
    <button type="submit" th:text="#{post.delete}"></button>
</form>
<a th:href="@{/posts}" th:text="#{post.list}"></a>
</body>
</html>