<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{/posts/{id}/edit(id=*{id})}" th:object="${post}" method="post">
    <label>
        <span th:text="#{post.title}"></span>
        <input type="text" name="title" th:value="*{title}">
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    </label>
    <br>
    <label>
        <h3 th:text="#{post.title}"></h3>
        <textarea name="body" id="" cols="30" rows="10" th:text="*{body}"></textarea>
        <div th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></div>
    </label>
    <button type="submit" th:text="#{post.save}"></button>
</form>

<form th:action="@{/posts/{id}(id=${post.id})}">
    <button type="submit" th:text="#{post.cancel}"></button>
</form>
</body>
</html>