<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{/post/write}" th:object="${postCreateForm}" method="post">
    <label>
        제목
        <input type="text" th:field="*{title}">
    </label>
    <br>
    <label>
        본문
        <textarea id="" cols="30" rows="10" th:field="*{body}"></textarea>
    </label>
    <button type="submit">저장</button>
</form>
</body>
</html>